<titulo titulo="Odontología" imagen="odontologia"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Cuidado Dental</h1>
      <h2>La importancia de la salud dental</h2>
      <p>
        Una buena salud dental puede aumentar la vitalidad, el bienestar y la calidad de vida de su mascota. Los controles dentales regulares y la limpieza de los dientes realizada una vez al año ayudan a garantizar que su mascota tenga la mejor vida posible.
      </p>
      <p>
        En nuestra clínica contamos con un cavitador ultrasónico para realizar la limpieza dental. Al paciente se le realizarán los controles prequirúrgicos necesarios como cardiología y análisis sanguíneos a fin de que esta práctica sea segura.
      </p>
      <p>
        La enfermedad periodontal genera dolor y su avance lleva a la pérdida de piezas dentarias, pérdida de hueso y un estado de infección constante que puede afectar al aparato urinario y al corazón. Se estima que más del 80 por ciento de los perros y el 70 por ciento de los gatos desarrollan una enfermedad periodontal (dientes, huesos y encías circundantes) a la edad de tres a cuatro años.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/odontologia/odontologia1.jpg" />
    </div>
  </div>

  <div class="banda row">
    <div class="col-lg-5">
      <img src="assets/odontologia/odontologia2.jpg" />
    </div>
    <div class="col-lg-7">
      <span>Una atención dental adecuada puede sumarle entre 2 y 4 años a la vida de su mascota.</span>
    </div>
  </div>

  <div class="seccion">
    <h2>Servicios odontologicos</h2>
    <p>
      Creemos que la pieza central de un buen cuidado dental es un examen oral completo y una evaluación a través del sondeo de raíces y el registro, seguido de una limpieza completa tanto por encima como por debajo de la línea de la encía. Las limpiezas dentales incluyen el escalado piezoeléctrico ultrasónico de nuestra máquina de última tecnología Ultratec, seguida de un pulido y un enjuague bucal.
    </p>

    <h3>El cuidado dental de su mascota incluye</h3>

    <ul>
      <li>Exámenes orales bajo anestesia con una sonda para registrar la profundidad del espacio periodontal</li>
      <li>Diagnóstico y tratamiento de la enfermedad periodontal.</li>
      <li>Rayos X en caso de sospecha de infecciones de raíces dentarias</li>
      <li>Extracción de dientes con colgajo quirúrgico según sea necesario.</li>
      <li>Pulido</li>
      <li>Irrigación</li>
    </ul>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-4">
      <img src="assets/odontologia/odontologia3.jpg" />
    </div>
    <div class="col-lg-7 offset-lg-1">
      <h1>El cuidado en casa</h1>
      <p>
        La atención dental no termina con una visita a su veterinario. Debe continuar en casa cepillando los dientes de su mascota como parte de un régimen de cuidado dental; lavajes bucales con soluciones antisépticas y antibióticos específicos en caso de ser necesarios recetados por el profesional. El cuidado bucal debe comenzar a partir del momento en el que el cachorro cambia su dentadura en forma definitiva. Cualquier miembro de nuestro personal puede mostrarle el método adecuado de cepillar los dientes de su mascota y ayudarlo a seleccionar los productos dentales más efectivos para su mascota.
      </p>
    </div>
  </div>

  <div class="banda row">
    <div class="col-lg-7">
      <span>Signos que podemos reconocer en un paciente con la boca afectada por enfermedad periodontal y luego de su tratamiento.</span>
    </div>
    <div class="col-lg-5">
      <img src="assets/odontologia/antes-despues.png" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Signos de problemas dentales</h2>
      Los síntomas de la enfermedad dental incluyen:
      <ul>
        <li>Mal aliento (uno de los primeros signos de enfermedad dental)</li>
        <li>Una corteza de color marrón amarillento de la placa en los dientes cerca de la línea de las encías</li>
        <li>Encías rojas e inflamadas.</li>
        <li>Dolor o sangrado cuando su mascota come o cuando se toca la boca o las encías</li>
        <li>Disminución del apetito o dificultad para comer.</li>
        <li>Dientes sueltos o perdidos</li>
      </ul>
      Si su mascota está experimentando alguno de los síntomas anteriores, su bienestar y salud en general también se ven afectados. No espere, comuníquese con nosotros para solicitar un turno para limpieza dental.
    </div>
    <div class="col-lg-4">
      <img src="assets/odontologia/odontologia4.jpg" />
    </div>
  </div>
</div>
