@font-face {
  font-family: 'Lemon/Milk';
  src: url('assets/fonts/LemonMilk.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/LemonMilk.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/LemonMilk.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/LemonMilk.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/LemonMilk.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/LemonMilk.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Tourmaline';
  src: url('assets/fonts/Tourmaline-Bold.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Tourmaline-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/Tourmaline-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/Tourmaline-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/Tourmaline-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/Tourmaline-Bold.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Slowly Two';
  src: url('assets/fonts/SlowlyTwo.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/SlowlyTwo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/SlowlyTwo.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/SlowlyTwo.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/SlowlyTwo.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/SlowlyTwo.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Bahiana';
  src: url('assets/fonts/Bahiana-Regular.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/Bahiana-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/Bahiana-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/Bahiana-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('assets/fonts/Bahiana-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/Bahiana-Regular.svg') format('svg'); /* Legacy iOS */
}

