<titulo titulo="Exóticos" imagen="exoticos"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Especies no tradicionales</h1>
      <h2>Atención compasiva para mascotas exóticas</h2>
      <p>
        Desafortunadamente, muchos propietarios de aves y animales exóticos solo piensan en llevar a su mascota al veterinario cuando está enfermo. A diferencia de los perros y los gatos, muchas especies de aves y animales exóticos <b>ocultan</b> sus enfermedades hasta que simplemente están tan enfermos que ya no pueden ocultarlo. Este comportamiento se debe al hecho de que muchos de estos animales son especies de presa en la naturaleza, y en la naturaleza deben ocultar sus síntomas o simplemente no sobrevivirían.
      </p>
      <p>
        Si su ave o mascota exótica está mostrando signos de enfermedad, es muy probable que esté MUY enfermo. En la clínica, entendemos y estamos bien preparados para enfrentar este tipo de situaciones muy delicadas y emergentes.
      </p>
      <p>
        Alentamos a todos los dueños de aves y mascotas exóticas a que traigan a sus animales para una visita de mascotas al menos una vez al año. Hacemos hincapié en la medicina preventiva, incluyendo una dieta adecuada y la cría. ¡Queremos asegurarnos de que su mascota viva la vida más larga, saludable y feliz que pueda!
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/exoticos/1.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/exoticos/2.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      Ofrecemos atención médica y quirúrgica completa para aves y mascotas exóticas, que incluyen:
      <ul>
        <li>Cuidados preventivos y exámenes de salud</li>
        <li>Exámenes post-compra</li>
        <li>Cuidado geriátrico</li>
        <li>Servicios de diagnóstico de enfermedades</li>
        <li>Cirugía</li>
        <li>Hospitalización</li>
      </ul>
    </div>

  </div>

</div>
