<titulo titulo="Historia" imagen="historia"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6" id="info-ubicacion">
      <h1>Sobre nosotros</h1>
      <h2>Orgullosos de nuestra trayectoria en la zona</h2>
      <p>
        Nuestra clínica tiene una larga historia en Ciudadela, la misma se remonta a 30 años atrás cuando, siendo muy joven y apenas recibida, la Dra. María Cecilia Stanchi establece un consultorio médico veterinario en la intersección de la Av. Hipólito Irigoyen y Av. Gaona (Ciudadela).
      </p>
      <p>
        Muchos años han pasado, muchos pacientes, propietarios de mascotas que ya son amigos de la clínica, y gracias a todos ellos por la confianza depositada, hemos podido ampliar nuestros servicios para dar mayor comfort a nuestros clientes y responder a sus demandas de salud.
      </p>
      <p>
        En el año 2007 la Clínica Veterinaria del Oeste se traslada a su actual dirección, en Av. Maldonado 253, manteniendo la clientela existente y ampliandola. En los últimos años, hemos incorporado algunas especialidades a fin de brindar una atención de calidad, respondiendo a las necesidades médicas de nuestras queridas mascotas. Estos especialistas son en su mayoría docentes de la universidad, lo cual ratifica su permanente actualización en avances médicos.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <div id="slide-historia" class="slide">
        <img src="assets/historia/1.jpg">
        <img src="assets/historia/2.jpg">
        <img src="assets/historia/3.jpg">
        <img src="assets/historia/4.jpg">
        <img src="assets/historia/5.jpg">
        <img src="assets/historia/6.jpg">
      </div>
    </div>
  </div>



</div>
