<titulo titulo="Complementarios" imagen="complementarios"></titulo>

<div class="cuerpo">
  
  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Microchipping</h1>
      <h2>para la seguridad de su mascota</h2>
      <p>
        Nuestra clínica veterinaria ofrece el servicio de colocación de microchip. Esta es una técnica poco cruenta, que permite en pocos minutos, la implantación del mismo en la zona dorsal del cuello. Estos microchips son exigidos por algunos países para ingresar mascotas, tales como Uruguay o la Unión Europea.
      </p>
      <p>
        Otra función del microchip es la capacidad de localización de mascotas perdidas; a través de una base de datos se puede identificar al propietario y darle aviso del destino de su mascota.
      </p>
      <p>
        Esta identificación segura, confiable y permanente de la mascota tarda menos de 10 segundos en implantarse y puede ahorrarle a usted y a su mascota el miedo y la angustia no deseados.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/complementarios/1.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/complementarios/4.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h1>Farmacia veterinaria</h1>
      <p>
        Nuestro compromiso con la salud de su mascota también se refleja en nuestra farmacia interna completamente surtida. Cuando se trata de medicamentos recetados, la dosis precisa y la administración son de suma importancia. Como veterinario que prescribe a su mascota, puede confiar en que cuando surta las recetas en nuestra farmacia, su mascota recibirá el medicamento correcto, en la dosis correcta, en la forma correcta lo más rápido posible.
      </p>
      <p>
        Nuestra farmacia cuenta con un importante surtido de medicamentos de uso veterinario (autorizados por SENASA) como ser antiparasitarios para caninos y felinos, pulguicidas y garrapaticidas en forma de pipetas, comprimidos, collares o shampúes y una basta línea de medicamentos de prescripción.
      </p>
    </div>

  </div>


  <div class="seccion row">
    <div class="col-lg-6 ">
      <h1>Certificados de salud para su mascota</h1>
      <p>
        Si planea un viaje con su amada mascota, la Dra. Stanchi se complace en proporcionar certificados de salud que serán requeridos, sobre todo, en el caso de que usted viaje al exterior.
      </p>
      <p>
        Le recomendamos que se informe acerca de los requisitos que exige cada país de destino, los cuales figuran en la página web del SENASA. Del mismo modo, nosotros podemos asesorarlo sobre este tema ya que tenemos una larga experiencia en trámites de mascotas al exterior.
      </p>
    </div>

    <div class="col-lg-5 offset-lg-1">
      <img src="assets/complementarios/3.jpg" />
    </div>

  </div>


  <div class="seccion row">
    <div class="col-lg-5 ">
      <img src="assets/complementarios/2.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h1>Eutanasia</h1>
      <h2>Elecciones difíciles, respuestas compasivas y cuidado</h2>
      <p>
        La eutanasia y el cuidado de los restos de sus mascotas son dos de los problemas más difíciles que muchas personas deben considerar. Hacer la pregunta significa enfrentar el miedo, la culpa y el dolor.
      </p>
      <p>
        Los métodos de eutanasia están diseñados para no causar dolor ni angustia. Por favor, no dude en hablarnos sobre la eutanasia en cualquier momento. Desde ya, la decisión de realizar esta práctica médica será exhaustivamente pensada entre el profesional y el propietario, y será realizada en caso de pacientes con enfermedad terminal a fin de acabar con su sufrimiento.
      </p>
      <p>
      Tomarse el tiempo para planear, por más desafiante que sea, disminuirá el dolor y la incomodidad para usted y su mascota, en caso de que alguna vez tenga que considerar esta opción.
      </p>
      <p>
        Nosotros también lo ayudaremos en este difícil momento, facilitándole el retiro del animal para, en el caso que usted lo considere conveniente, la cremación del mismo con opción a reintegro de cenizas.
      </p>
    </div>

  </div>

</div>
