<titulo titulo="Cirugía" imagen="cirugia"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Cirugia veterinaria en la Clinica Veterinaria del Oeste</h1>
      <h2>Luchando por asegurar una experiencia comoda y libre de estres</h2>
      <p>
        Entendemos que la cirugía no es una experiencia fácil para usted y su mascota. Nos esforzamos por garantizar que el procedimiento quirúrgico de su mascota sea lo más cómodo y libre de estrés posible. Con ese fin, también nos esforzamos por proporcionar a nuestros clientes una comprensión clara de por qué es necesario un procedimiento en particular, lo que implica el procedimiento y la atención postoperatoria adecuada. También intentamos transmitir cualquier otra información que pueda necesitar para sentirse cómodo de que está tomando la decisión correcta para su mascota.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/cirugia/1.jpg" />
    </div>
  </div>
  
  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/cirugia/2.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <p>
        Con un equipo de veterinarios altamente capacitados y técnicos veterinarios experimentados, estamos orgullosos de la calidad de la atención quirúrgica que brindamos y de la amplia gama de procedimientos quirúrgicos que ofrecemos. Más allá de las cirugías de esterilización y castración, Clínica Veterinaria del Oeste realiza una serie de cirugías ortopédicas y de tejidos blandos.
      </p>
      <p>
        Las cirugías de tejidos blandos incluyen, entre otros, cesárea, esplenectomía, extirpación del saco anal, cistotomía, enucleación de globo ocular y nos especializamos en cirugía oncológica.
      </p>
      <p>
        Las cirugías ortopédicas incluyen la reparación de fracturas con placas, tornillos y clavos, que serán utilizados de acuerdo a la sintesis ósea a reparar. En este caso contamos con un cirujano especializado en Traumatología.
      </p>
    </div>

  </div>

  <div class="banda row">
    <div class="col-lg-5">
      <img src="assets/cirugia/3.jpg" />
    </div>
    <div class="col-lg-7">
      <span>Estamos orgullosos de la calidad de la atención quirúrgica que brindamos y de la amplia gama de procedimientos que ofrecemos.</span>
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-12">
      <h2>Oncologia</h2>
      <p>
        Un diagnóstico de cáncer puede ser aterrador. Sin embargo, la mayoría de las mascotas responden extremadamente bien a los tratamientos para el cáncer, que incluyen cirugía de extirpación de tumores y quimioterapia. Clínica Veterinaria del Oeste ofrece quimioterapia para perros y gatos. Las mascotas no experimentan los mismos efectos secundarios de la quimioterapia que los humanos y, a menudo, llevan una vida larga y saludable después de que el cáncer desaparece. Luego de la extirpación de la masa neoplásica, la misma será remitida al patólogo de confianza a fin de un diagnóstico definitivo y poder establecer la estrategia terapeutica posterior.
      </p>
    </div>

  </div>

  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Anestesia y monitoreo</h1>
      <p>
        La anestesia y la monitorización cardiovascular son aspectos importantes e integrales de cada cirugía que realizamos. Por este motivo, su mascota tiene acceso a los mejores y más avanzados equipos y protocolos de administración de anestesia y monitoreo cardiovascular. Antes de la anestesia, todas las mascotas son examinadas por un médico y se realiza una prueba de sangre prequirúrgica. Los resultados de estas pruebas y el historial anestésico, la raza, las condiciones preexistentes y la edad de su mascota se utilizan para crear un protocolo de anestesia individualizado para su mascota. En general, utilizamos un enfoque multimodal para la anestesia, que incluye medicamentos previos, una gama de agentes de inducción según el procedimiento y las características únicas de su mascota, y el gas isoflurano.
      </p>
      <p>
        Durante la anestesia y la cirugía, su mascota es supervisada constantemente por un técnico veterinario capacitado, utilizando nuestro avanzado sistema de monitoreo. Este sistema controla continuamente el nivel de oxígeno arterial, la presión arterial, la frecuencia cardíaca, la frecuencia respiratoria y la temperatura corporal central de su mascota. También podemos aplicar terapia de calor para garantizar una temperatura corporal segura durante todo el procedimiento.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/cirugia/4.jpg" />
    </div>
  </div>

  <div class="banda row">
    <div class="col-lg-5">
      <img src="assets/cirugia/5.jpg" />
    </div>
    <div class="col-lg-7">
      <span>Creemos que identificar y aliviar el dolor es esencial para la recuperación de su mascota.</span>
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-12">
      <h2>El manejo del dolor</h2>
      <p>
        Identificar y aliviar el dolor es esencial para la recuperación de su mascota. Por lo tanto, somos cuidadosos con nuestro manejo del dolor y lo incluimos como un aspecto importante de nuestros protocolos intra y posquirúrgicos. Tenemos una gran cantidad de medicamentos para el control del dolor, que van desde un dolor leve a severo, adaptando cada protocolo analgésico según necesidad.
      </p>
      <p>
        En el momento del alta, también podemos enviar medicamentos adicionales para el manejo del dolor ambulatorio.
      </p>
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-12">
      <h2>Cuidado postoperatorio</h2>
      <p>
        Cuando su mascota sea dada de alta del hospital, le proporcionaremos información detallada sobre cómo cuidar adecuadamente a su mascota en casa después de la cirugía (cuándo puede comenzar a ingerir alimentos y tomar líquidos, cuidado de la herida postquirugica, manejo de vendajes y de collares isabelinos).
      </p>
      <p>
        También nos complace responder a cualquier pregunta o inquietud que pueda surgir una vez que lleve a su mascota a casa. Por favor llámenos al 4647-2947.
      </p>
    </div>
  </div>

</div>
