<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2>SEGUINOS EN</h2>
        <div id="botones-footer">
          <a class="btn btn-footer" href="https://www.facebook.com/Clínica-Veterinaria-del-Oeste-392148511363649"><i class="fab fa-facebook-f"></i> Facebook</a>
          <a class="btn btn-footer" href="https://www.instagram.com/veteoeste/"><i class="fab fa-instagram"></i> Instagram</a>
        </div>
      </div>
      <div id="footer-info" class="col-md-6">
        <p>
          Clínica Veterinaria del Oeste, 253 Maldonado, Ciudadela, BA 1702  |  (011) 4647-2947
        </p>
      </div>
      <div class="col-md-3">
        <h2>ACEPTAMOS</h2>
        <div class="row">
          <div class="col"><img src="assets/shared/visa.png" /></div>
          <div class="col"><img src="assets/shared/american.png" /></div>
          <div class="col"><img src="assets/shared/cabal.png" /></div>
        </div>
      </div>
    </div>
  </div>

</footer>
