<titulo titulo="Artículos" imagen="articulos"></titulo>

<div class="cuerpo">
  
  <div class="seccion row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <h1>Vacunas</h1>
      <h2>Para gatos</h2>
      <ul>
        <li>
          <a href="http://plataformagatera.org/post-9-la-peritonitis-infecciosa-felina">
            Peritonitis felina
          </a>
        </li>
        <li>
          <a href="https://www.foyel.com/paginas/2009/06/642/panleucopenia_felina_o_distemper_felino/">
            Distemper felino
          </a>
        </li>
        <li>
          <a href="https://www.affinity-petcare.com/vetsandclinics/leucemia-felina-vacuna-factores-riesgo">
            Leucemia felina
          </a>
        </li>
        <li>
          <a href="https://www.centroveterinariobarbanza.es/complejo-respiratorio-felino_fb8806cb4997.html">
            Complejo respiratorio felino
          </a>
        </li>
      </ul>
      <hr />
      <h2>Para perros</h2>
      <ul>
        <li>
          <a href="https://www.affinity-petcare.com/vetsandclinics/vacunas-obligatorias-perros-cuales-son-cuando-ponerlas">
            Vacunas obligatorias para perros
          </a>
        </li>
        <li>
          <a href="https://www.foyel.com/paginas/2009/04/242/vacuna_contra_la_hepatitis_canina__ojo_azul/">
            Vacuna contra la Hepatitis canina
          </a>
        </li>
        <li>
          <a href="https://www.colvema.org/sac_vac2.html">
            Vacunas en perros
          </a>
        </li>
        <li>
          <a href="https://www.expertoanimal.com/rabia-en-perros-sintomas-contagio-y-tratamiento-20089.html">
            Rabia en perros
          </a>
        </li>
        <li>
          <a href="https://www.expertoanimal.com/coronavirus-canino-sintomas-y-tratamiento-20342.html">
            Coronavirus canino
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">

      <h1>Cirugía</h1>
      <h2>Para gatos</h2>
      <ul>
        <li>
          <a href="https://www.purina.es/gato/pro-plan/consejos/cuidados-para-la-salud/la-castracion-del-gato-cuando-hacerlo-y-las-ventajas-de-esterilizar">
            La castración del gato
          </a>
        </li>
        <li>
          <a href="http://www.vetstreet.com/care/extirpacion-quirurgica-de-las-garras-en-los-gatos">
            Extirpación de garras
          </a>
        </li>
      </ul>
      <hr />
      <h2>Para perros</h2>
      <ul>
        <li>
          <a href="https://elpais.com/elpais/2016/11/04/animalesycia/1478281175_536554.html">
            ¿Debo castrar a mi perro?
          </a>
        </li>
      </ul>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">

      <h1>Salud</h1>
      <ul>
        <li>
          <a href="https://www.clarin.com/entremujeres/hogar-y-familia/mascotas-veterinario-perro-gato-signos-sintomas-enfermedad_0_HkaWyJqD7x.html">
            ¿Cada cuanto hay que ir al veterinario?
          </a>
        </li>
        <li>
          <a href="http://www.veterinario-vetersalud.com/veterinarios/cuidados-mascotas/chequeos-de-salud/chequeos-de-salud-para-su-perro.html">
            Chequeos de salud para su perro
          </a>
        </li>
        <li>
          <a href="https://misanimales.com/examenes-oculares-mascota/">
            Exámenes oculares en tu mascota
          </a>
        </li>
      </ul>

    </div>

    <div class="col-lg-3 col-md-4 col-sm-6">

      <h1>Otros</h1>
      <ul>
        <li>
          <a href="https://www.mequieroir.com/antes-de-partir-/la-mascota/tramites/">
            Trámites para viajar con la mascota
          </a>
        </li>
        <li>
          <a href="https://www.argentina.gob.ar/trasladar-perros-y-gatos-al-exterior">
            Trasladar perros y gatos al exterior
          </a>
        </li>
        <li>
          <a href="https://www.hola.com/estar-bien/20180321121868/adopcion-perro-gato-test/">
            Test antes de adoptar
          </a>
        </li>
      </ul>

    </div>

  </div>


</div>
