<titulo titulo="Veterinarios" imagen="veterinarios"></titulo>

<div class="cuerpo">
  <h1>Nuestros veterinarios</h1>
  <div class="seccion row">
    <div class="col-lg-6">
      <h2>Dra. Maria Cecilia Stanchi</h2>
      <h3>Directora Técnica</h3>
      <p>
        La Dra. María Cecilia Stanchi fundó la Clínica Veterinaria del Oeste inicialmente en el año 1988, apenas graduada de Médica Veterinaria. Esto plasmó un largo anhelo personal que se había originado desde que era muy pequeña y que era su vocación: ser médica veterinaria y poder dedicar su vida y su esfuerzo a la atención de sus queridos animales.
      </p>
      <p>
        <i>
          "Los animales me han brindado tanta alegría y compañía a lo largo de mi vida que es fantástico poder cuidarlos y devolverles algo", dice la Dra. Stanchi. "Ser veterinaria no es solo atender y curar animales, sino también, generar un vínculo con la familia. Desempeñarse desde hace más de 30 años en el mismo barrio con profesionalidad me ha permitido entablar lazos de amistad con muchos de los dueños de las mascotas. Sin lugar a dudas, la medicina veterinaria se basa en el afecto. Ese vínculo no tiene precio".
        </i>
      </p>
      <p>
        La Dra. Stanchi se graduó como Médica Veterinaria en la Facultad de Ciencias Veterinarias perteneciente a la Universidad de Buenos Aires el 25 de Febrero de 1988. En este momento, es docente del Hospital Escuela de Pequeños Animales de la Facultad de Ciencias Veterinarias (UBA), teniendo una larga trayectoria tanto en el manejo de pacientes como en las horas de cátedra. Ha logrado un título de Especialista en Clínica Médica de Pequeños Animales (UBA). Otro punto de interés es la Oncología en Pequeños Animales con un título de Especialista otorgado por el Colegio Veterinario de la provincia de Buenos Aires. Es miembro de la Comisión Directiva de SAOV (Sociedad Argentina de Oncología Veterinaria) y miembro activo de la ESVONC (European Society of Veterinary Oncology). Actualmente ha finalizado un perfeccionamiento en Criocirugía para tratamiento de tumores y lesiones de la piel.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/veterinarios/stanchi.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Diego Miceli</h2>
      <h3>Endocrinologia</h3>
      <p>
        <b>Doctor en Ciencias Veterinarias (UBA), Veterinario (UBA)</b>
        <br />
        Médico de planta de la Unidad de Endocrinología del Hospital Escuela de la Facultad de Ciencias Veterinarias (UBA). Realiza investigaciones en el Síndrome de Cushing y la Diabetes Mellitus del perro (Consejo Nacional de Investigaciones Científicas y Técnicas - CONICET), área en la que lleva publicados numerosos artículos como primer autor y como co-autor. Becario postdoctoral (CONICET). Docente de materias de grado y posgrado en la carrera de Veterinarias (UBA). Tutor de pasantías de grado y posgrado (UBA). Cursista de la carrera de Especialista en Endocrinología Humana de la Sociedad Argentina de Endocrinología y Metabolismo (SAEM). Parte de su formación la realizó en el Hospital Clínico Veterinario de la Universidad Complutense de Madrid (UCM).
      </p>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <img src="assets/veterinarios/miceli.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Vet. Laura Rivaroli</h2>
      <h3>Clínica Médica</h3>
      <p>
        La Dra. Laura Rivaroli es veterinaria, siendo su principal punto de interés, la clínica médica de pequeños animales. Es concurrente al servicio de emergencias y oncología del Hospital Escuela UBA. Su calidez y simpatía van de la mano de su profesionalismo.
      </p>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <img src="assets/veterinarios/rivaroli.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Fabiana Barone</h2>
      <h3>Exoticos</h3>
      <p>
        Veterinaria (Universidad de Buenos Aires). Concurrente del Servicio de Animales No Tradicionales en la Facultad de Ciencias Veterinarias (UBA). Realizó pasantías en Hospitales de Fauna Silvestre en Fundación Temaikèn (Argentina), GüiráOga Refugio de Animales Silvestres (Argentina), Wildlife Friends Foundation (Tailandia), Ramgopal Vashistha Veterinary Project (India).
      </p>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <img src="assets/veterinarios/barone.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Vet. Esteban Caparros Saez</h2>
      <h3>Respiratorio</h3>
      <p>
        Es docente del Hospital Escuela UBA y especialista en Clínica Médica.
      </p>
      <p>
        Desde hace varios años se desempeña como médico en el servicio de respiratorio del Hospital Escuela UBA, especializandose en la atención de perros y gatos con patologías de las vías aéreas alta y baja.
      </p>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <img src="assets/veterinarios/caparros.jpg" />
    </div>
  </div>


</div>
