<titulo titulo="Cryo Vet" imagen="cryovet"></titulo>


<div class="cuerpo">

  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Cryo Vet</h1>
      <h2>¿Que es?</h2>
      <p>
        Cryo Vet es un servicio que brindamos, el cual incluye el diagnóstico del cáncer, la anestesia y criocirugía para destruir el tejido enfermo de su mascota.
      </p>
      <p>
        La criocirugía (o crioterapia) es la aplicación de frío extremo a fin de destruir los tejidos anormales o enfermos. Se la utiliza para tratar diversas enfermedades y trastornos dermatológicos y oncológicos, sobre todo, lesiones incipientes en donde una cirugía convencional llevaría a mucha pérdida de tejido y cirugías reconstructivas.
      </p>
      <p>
        Es una técnica que puede ser utilizada con mínimo riesgo para el paciente, por lo cual es ideal en pacientes añosos o con riesgo anestésico.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/cryovet/1.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <h2>¿Cuando se requiere?</h2>
    <p>
      En animales, la técnica se usa para tratar tumores en lugares donde la cirugía convencional sería difícil o imposible, como ciertos tumores de la boca, o donde las propiedades analgésicas / anestésicas de la técnica serían útiles. Los ejemplos incluyen el tratamiento de lesiones neoplásicas como carcinomas epidermoides en gatos de piel blanca, melanomas, lesiones provocadas por el sol, papilomas, y como complemento a la extirpación de otro tipo de tumores.
    </p>
  </div>

  <div class="banda row">
    <div class="col-lg-7">
      <span>El tratamiento se realiza casi siempre bajo anestesia.</span>
    </div>
    <div class="col-lg-5">
      <img src="assets/cryovet/2.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/cryovet/3.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h2>¿Que tan efectiva es la criocirugía?</h2>
      <p>En muchos casos, puede ser curativo dependiendo de la condición y el sitio.</p>
      <p>La técnica a veces también se utiliza para la eliminación de pestañas aberrantes o adicionales (distiquiasis). Este procedimiento tiene una alta tasa de éxito.</p>
      <p>Las verrugas pequeñas y los tumores pequeños de la piel generalmente se curan con una sola sesión de crioterapia.</p>
      <p>Para otro tipo de tumores malignos pueden ser necesarias dos sesiones para controlar al tumor.</p>
      <p>Se requiren controles posteriores al tratamiento a los 7, 14 y 21 días post-cirugía. Solamente se requieren algunos analgésicos hasta las 48 horas post intervención.</p>
    </div>
  </div>


</div>
