<titulo titulo="Ubicación" imagen="ubicacion"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6" id="info-ubicacion">
      <h1>Nuestra ubicacion</h1>
      <h2>Visitanos en Ciudadela</h2>
      La Clínica Veterinaria del Oeste se encuentra ubicada en
      <hr />
      <h3>Avenida Maldonado 253, Ciudadela</h3>
      <hr />
      Por favor llamenos al <b>4647-2947</b> para ayudar con indicaciones.
      <hr />
      Nuestros horarios de atención:
      <ul>
        <li><b>LU-MA-JU-SA:</b> 9 a 12.30 hs y 16 a 20 hs </li>
        <li><b>MI-VI:</b> 17.30 a 20 hs</li>
      </ul>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/ubicacion/1.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-12">
      <div class="center" id="gmap_container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.673315350014!2d-58.5449026851803!3d-34.63769498045067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc80e1c32d77f%3A0x6a99b66a8dbf9a5f!2sWest+Veterinary+Clinic!5e0!3m2!1sen!2sar!4v1548462466822"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
