<titulo titulo="Oncología" imagen="oncologia"></titulo>

<div class="cuerpo">

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/oncologia/oncologia1.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h1>Oncologia</h1>
      <h2>El diagnostico</h2>
      <p>
        Un diagnóstico de cáncer puede ser aterrador. Sin embargo, la mayoría de las mascotas responden extremadamente bien a los tratamientos para el cáncer, que incluyen cirugía de extirpación de tumores y quimioterapia. Nuestra clínica ofrece quimioterapia para perros y gatos, cirugía oncológica y actualmente incorporamos a la críocirugía como herramienta terapeutica.
      </p>
      <p>
        Las mascotas no experimentan los mismos efectos secundarios de la quimioterapia que los humanos y, a menudo, llevan una vida larga y saludable después de que el cáncer desaparece; mejorando la calidad de vida y el tiempo de sobrevida.
      </p>
    </div>
  </div>

  <div class="banda row">
    <div class="col-lg-7">
      <span>Estamos orgullosos por la calidad de la atención quirúrgica que brindamos y de la amplia gama de procedimientos que ofrecemos.</span>
    </div>
    <div class="col-lg-5">
      <img src="assets/oncologia/oncologia2.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/oncologia/oncologia3.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h2>Tomar una decision de tratamiento</h2>
      <p>
        Su mascota es un miembro de su familia y su salud y comodidad son importantes para usted. Para brindarle a su gato o perro la mejor atención y tomar la decisión más apropiada sobre el tratamiento del cáncer, debe tener toda la información. No hay una decisión correcta o incorrecta cuando se trata de cómo controlar el cáncer de su mascota. Es tu decisión.
      </p>
      <p>
        Sabemos que hablar de cáncer es difícil, por lo tanto, cualquier decisión que se tome sobre tratamiento oncológico debe ser consensuada con todo el grupo familiar.
      </p>
      <p>
        Podemos brindarle también apoyo psicológico profesional si usted lo necesita en caso de que su querido amigo transite por esta enfermedad.
      </p>
    </div>
  </div>

</div>


