<titulo titulo="Infografías" imagen="infografias"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    Todas las infografías a continuación están disponibles en PDF y JPEG. Haga clic en el enlace correspondiente debajo de cada gráfico para ver o descargar.
  </div>
  <div class="row">
    <infografia class="col-md-3 col-sm-6" titulo="Criocirugia" archivo="Criocirugía"></infografia>
    <infografia class="col-md-3 col-sm-6" titulo="Castración de Perros" archivo="Castración Perro"></infografia>
    <infografia class="col-md-3 col-sm-6" titulo="Castración de Perras" archivo="Castración Perra"></infografia>
    <infografia class="col-md-3 col-sm-6" titulo="Vacunación" archivo="Vacunación"></infografia>
    <infografia class="col-md-3 col-sm-6" titulo="Rabia" archivo="Rabia"></infografia>
    <infografia class="col-md-3 col-sm-6" titulo="Virus Hanta" archivo="Virus Hanta"></infografia>
  </div>
</div>
