<titulo titulo="Peluquería" imagen="peluqueria"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6">
      <h1>Aseo para gatos y perros</h1>
      <p>
        La peluquería es una parte importante de la atención regular de la salud de su mascota y una excelente manera de que su compañero tan querido se vea y se sienta bien. El aseo regular también puede ayudar en la prevención y detección temprana de infecciones y enfermedades en la piel antes de que se conviertan en un problema grave.
      </p>
      <p>
        Nuestra peluquera, Eliana, cuenta con amplia experiencia en cortes de pelo de razas, cortes higiénicos, baños de belleza y de salud con productos hipoalergénicos, evitando problemas alérgicos tan frecuentes en nuestras mascotas. Dentro de el servicio de baño y peluquería, incluimos el corte de uñas, limpieza de oídos y desimpacción de sacos anales.
      </p>
      <p>
        <b>Ofrecemos una variedad de servicios para perros y gatos en nuestro moderno spa para mascotas:</b>
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/peluqueria/1.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/peluqueria/2.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h2>Perros</h2>
      <ul>
        <li>Peluquería para toda raza</li>
        <li>Perfume en caso que se solicite</li>
        <li>Corte de uñas</li>
        <li>Limpieza de oídos</li>
        <li>Expresión de la glándula anal (a petición)</li>
        <li>Desanudado (por un cargo adicional)</li>
      </ul>
    </div>

  </div>

  <div id="gatos" class="seccion row">
    <div class="col-lg-5 ">
      <img src="assets/peluqueria/3.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h2>Gatos</h2>
      <p>Los gatos también pueden recibir una atención especial en cuanto a su aseo personal. Algunas razas como por ejemplo los persas, tienen un manto muy abundante y puede requerir algún corte higiénico en caso que usted lo desee. Debido al comportamiento temeroso de los felinos frente a los ruidos (turbina, peladora) puede requerir de una sedación para que el procedimiento sea comfortable. Este sera llevado a cabo por un profesional veterinario.</p>
    </div>

  </div>

  <div class="divider"></div>

  <div class="seccion row">

    <div class="col-lg-6 ">
      <h1>La importancia de asear a su mascota</h1>
      <p>
        Ser magnífico requiere trabajo. Pero hay mucho más que un baño para hacer que Roco se vea fabuloso. Lo importante es mantener a tu perro o gato limpio y saludable.
      </p>
      <p>
        La higiene es una parte fundamental de la atención médica preventiva, y el baño regular en unestra clínica veterinaria ayudará a prevenir problemas dermatológicos graves, sin mencionar que su mascota se verá, olerá y sentirá mejor. Al bañar a su mascota con regularidad, puede ayudar a detectar infecciones y crecimientos en la piel antes de que se conviertan en un problema.
      </p>
      <p>
        Ofrecemos servicios de baño y corte de uñas para nuestros pacientes felinos y caninos en nuestra clínica.
      </p>
    </div>
    <div class="col-lg-5 offset-lg-1">
      <img src="assets/peluqueria/4.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">

    <div class="col-lg-12 ">
      <h2>Solicite su turno</h2>
      <p>
        Los turnos para peluquería se realizan con una semana de anticipación. Para solicitarlo puede
      </p>
      <ul>
        <li>Llamar al 4647-2947</li>
        <li>Dejar un mensaje de Whatsapp al 15 5606-8174</li>
        <li>Enviar un correo a <b>veteoeste@gmail.com</b></li>
        <li>Completar el siguiente formulario</li>
      </ul>
    </div>
  </div>
</div>

<div id="turno-pelu">
  <turno></turno>
</div>
