@import 'variables';

#turno-pelu {
  background-color: #fbdbac;
  margin-left: -15px;
  margin-right: -15px;
  padding: 35px;
  padding-top: 0;
}

@media only screen and (max-width: $sm-width) {
  #turno-pelu {
    padding: 0;
  }
}
