<titulo titulo="Formularios" imagen="formularios"></titulo>

<div class="cuerpo">
  <div class="seccion row">
    <div class="col-lg-6" id="info-ubicacion">
      <h2>Gracias por darnos la oportunidad de cuidar a su mascota</h2>
      <p>
        Por favor haga clic en el enlace al formulario que necesita. Cuando se haya descargado el formulario, imprima y complete la hoja de información y llévela al hospital en el momento de su cita.
      </p>
      <h3>Formularios y requerimientos</h3>
      <ul id="lista-formularios">
        <li><a href="#">Remisión</a></li>
        <li><a href="#">Nuevos pacientes</a></li>
        <li><a href="#">Cirugía</a></li>
        <li><a href="#">Eutanasia</a></li>
        <li><a href="#">Consulta de comportamiento e información</a></li>
        <li><a href="#">Rehabilitación física</a></li>
      </ul>
    </div>
    <div class="col-lg-6">
      <img class="borderless" src="assets/formularios/1.png" />
    </div>
  </div>
</div>
