

<div id="intro">
  <img class="subtitulo" src="assets/home/atencion.png" />
  <div class="slide">
    <img src="assets/home/intro1.png">
    <img src="assets/home/intro2.png">
    <img src="assets/home/intro3.png">
    <img src="assets/home/intro4.png">
  </div>
</div>

<img id="atencion-xs" src="assets/home/atencion-xs.png"  />

<div class="forma">
  <img src="assets/home/forma.png" />
</div>

<div class="introduccion row">
  <div class="col-lg-7">
    <p>
      Durante más de tres décadas, <b>Clínica Veterinaria del Oeste</b> se ha esforzado por mantener nuestra práctica como el principal hospital veterinario de la zona de Ciudadela. Con ese fin, nos comprometemos a brindarle a usted y a su mascota los más altos estándares de atención médica y servicio al cliente.
    </p>
    <p>
      <b>La selección de un hospital veterinario no es una decisión pequeña.</b> El personal altamente calificado y trabajador en la clínica se enorgullece de brindar un cuidado excelente y asequible para su mascota. Queremos lo mejor para su mascota, pero también no perdemos de vista lo que es mejor para usted. La comunicación con el cliente es muy importante para nosotros, ya sea brindando opciones, respondiendo a todas las preguntas o haciendo un seguimiento de cómo está su mascota. <b>Confiamos en nuestra capacidad para satisfacer sus necesidades y esperamos que nos elija como su compañero de cuidado de mascotas.</b>
    </p>
  </div>
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-12 col-md-5">
        <h1>Cuidado excepcional y compasivo</h1>
        <h2>de Perros, Gatos y sus Familias</h2>
      </div>
      <div class="col-lg-12 col-md-7">
        <a href="/historia"><img id="cuadro" src="assets/home/sabermas.png" /></a>
      </div>
    </div>



  </div>
</div>

<div id="informacion" class="row justify-content-around">
  <div class="panel-home col-md-3">
    <h2>Clinica</h2>
    <hr />
    <p>
      Porque quiere a su mascota y sabemos que una salud fuerte es imprescindible para que viva feliz, en Clínica Veterinaria del Oeste tenemos todo lo necesario para cuidar de los que más quiere.
    </p>
    <hr />
    <img src="assets/home/clinica.png" />

  </div>

  <div class="panel-home col-md-3">
    <h2>Peluqueria</h2>
    <hr />
    <p>
      En Clínica Veterinaria del Oeste tenemos una especialista en peluquería canina. Disponemos de la experiencia y herramientas para que su mascota se vea fabulosa.
    </p>
    <hr />
    <img src="assets/home/peluqueria.png" />
  </div>

  <div class="panel-home col-md-3">
    <h2>Pet shop</h2>
    <hr />
    <p>
      En nuestra tienda contamos con juguetes, correas, alimentos balanceados y golosinas para que tu mascota lleve una vida más feliz y saludable. Visitá nuestra tienda.
    </p>
    <hr />
    <img src="assets/home/petshop.png" />
  </div>
</div>

<div id="cuadro-horarios">
  <div class="row">
    <div class="col-md-5">
      <h1><i class="fa fa-phone-square"></i> 4647-2947</h1>
      Teléfono de de 9 a 20 horas.
      <br />Llámenos y le atenderemos enseguida.
    </div>
    <div class="col-md-2">
      <img src="assets/home/perro-gato-home.png" />
    </div>
    <div class="col-md-5">
      <h1><i class="fa fa-clock"></i> HORARIO</h1>
      <b>Lunes, Martes, Jueves y Sábados</b> de 09:00 a 12:30 h y de 16:00 a 20:00 h
      <br /><b>Miércoles y Viernes</b> de 17:30 h a 20 h
    </div>
  </div>
</div>

<div id="turno-home">
  <turno></turno>
</div>

<div class="panel-final">
  <div class="row">
    <div class="col-md-4">
      <div id="cryo">
        <img src="assets/home/cryo/logo.png" />
        <div class="boton">
          <a routerLink="/cryovet">Saber Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="exoticos">
        <div class="fondo-titulo">
          <img src="assets/home/exoticos/titulo.png" />
        </div>
        <img id="animales" src="assets/home/exoticos/animales.png" />
        <p>
          Clínica y cirugía de animales exóticos y especies no tradicionales como hurones, tortugas, aves, conejos, cobayos, erizos, hamsters, etc.
        </p>
        <div class="boton">
          <a routerLink="/exoticos">Saber Más</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div id="oncologia">
        <div class="fondo-titulo">
          <h1>Oncología</h1>
        </div>
        <img src="assets/home/oncologia/gato.png" />
        <span></span>
        <p>
          La Dra. Stanchi se especializa en Oncología, es decir, tiene conocimientos especializados en el diagnóstico del cáncer, la estadificación de los tumores, el desarrollo de planes
          de tratamiento y la administración de quimioterapia.
        </p>

        <div class="boton">
          <a routerLink="/oncologia">Saber Más</a>
        </div>
      </div>
    </div>
  </div>
</div>



