<titulo titulo="Especialidades" imagen="especialidades"></titulo>

<div class="cuerpo">

  <div class="seccion row">
    <div class="col-lg-5">
      <img src="assets/especialidades/1.jpg" />
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h1>Especialidades</h1>
      <p>
        Si bien el enfoque en nuestro hospital es la prevención de enfermedades y el bienestar, también puede confiar en el equipo médico capacitado y compasivo cuando su mascota está enferma. Con ese fin, una parte importante de la práctica del hospital es el diagnóstico y el tratamiento no quirúrgico de enfermedades que pueden afectar los órganos internos y los sistemas corporales de su mascota.
      </p>
      <p>
        Dirigido por veterinarios experimentados y respaldado por una avanzada tecnología de diagnóstico, nuetra clínica es capaz de tratar casos complejos de medicina interna, como enfermedades renales, cardíacas, respiratorias, inmunomediadas y endocrinas.
      </p>
    </div>
  </div>

  <div class="banda row">
    <div class="col-lg-7">
      <span>Creemos que identificar y aliviar el dolor es esencial para la recuperación de su mascota.</span>
    </div>
    <div class="col-lg-5">
      <img src="assets/especialidades/2.jpg" />
    </div>
  </div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Cardiologia</h2>
      <p>
        La consulta inicial de cardiología está programada para una hora. Nuestro cardiólogo revisará el historial médico de su mascota. Luego examinará a su mascota y escuchará si hay soplos cardíacos, ruidos pulmonares anormales y latidos cardíacos anormales. Se pueden sugerir pruebas de diagnóstico adicionales basadas en la evaluación inicial.
      </p>
      <p>
        Los estudios cardiológicos que realizamos en nuestra clínica abarcan desde electrocardiograma, ecocardiograma, ecodoppler cardíaco y medición de la presión arterial. Además de la realización de estos estudios, el cardiólogo evaluará clínicamente al paciente e indicará el tratamiento a seguir de acuerdo a la patología cardiovascular diagnosticada. A posteriori se hará seguimiento del paciente.
      </p>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <img src="assets/especialidades/3.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-4">
      <img src="assets/especialidades/4.jpg" />
    </div>
    <div class="col-lg-7 offset-lg-1">
      <h2>Ecografia</h2>
      <p>
        El ultrasonido es una técnica totalmente no invasiva y sin dolor que utiliza ondas de sonido de alta frecuencia para producir una imagen en tiempo real de los órganos internos de su mascota. Para muchas aplicaciones, el ultrasonido puede ser más útil que las radiografías al proporcionar una película de lo que está sucediendo dentro del cuerpo de su mascota.
      </p>
      <p>
        Es particularmente útil para ver los órganos abdominales de su mascota, incluidos el bazo, los riñones, el hígado, la vesícula biliar, útero, testículos y poder diagnosticar una inclusive una gestación y hacer monitoreo fetal. Este servicio es llevado a cabo por especialistas en ecografía de larga experiencia, siendo docentes universitarias.
      </p>
      <p>
        Otra de las aplicaciones de la ecografía es poder tomar biopsias eco-guiadas a fin de poder diagnosticar el origen de una neoplasia.
      </p>
      <p>
        Nuestro equipo de especialistas en ecografía está capacitado para realizar estudios de doppler color. Esta técnica moderna permite evaluar el flujo sanguíneo hacia diferentes órganos, como ser corazón, bazo, hígado y poder detectar en forma precoz la presencia de neoplasias malignas.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-7">
      <h2>Oftalmologia</h2>
      <p>
        Al igual que los humanos, los animales pueden desarrollar problemas con sus ojos o visión. Nuestra oftalmóloga tiene la experiencia y el equipamiento necesario para detectar problemas tales como cataratas, glaucoma, desprendimiento de retina, problemas de párpados, conjuntivitis, úlceras y eventualmente, pérdida de la visión. Ella, además de diagnosticar el problema, indicará el tratamiento que puede ser médico o quirúrgico de alta complejidad.
      </p>
      <p>
        Algunos síntomas a tener en cuenta con respecto a la salud ocular de su mascota incluyen:
      </p>
      <ul>
        <li>Parpadeo excesivo o mantener los ojos cerrados</li>
        <li>Rascarse o frotarse los ojos</li>
        <li>Exceso de secreción verde o amarillo</li>
        <li>Hinchazón de los ojos o párpados</li>
        <li>Un cambio de color, especialmente nubosidad o enrojecimiento</li>
        <li>Un cambio en el tamaño del ojo</li>
        <li>Pérdida de visión</li>
      </ul>
    </div>
    <div class="col-lg-4 offset-lg-1">
      <img src="assets/especialidades/5.jpg" />
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-3">
      <img src="assets/especialidades/6.jpg" />
    </div>
    <div class="col-lg-8 offset-lg-1">
      <h2>Respiratorio</h2>
      <p>
        Algunos de los síntomas respiratorios más comunes en perros y gatos pueden ser los estornudos, tos, agitación, secreciones oculares y nasales. Muchos de estos problemas pueden hacerse crónicos, es decir, prolongarse en el tiempo. Es en estos casos en los que recurriremos a la interconsulta con nuestro especialista en aparato respiratorio.
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="seccion row">
    <div class="col-lg-8">
      <h2>Endocrinologia</h2>
      <p>
        Al igual que los humanos, nuestras mascotas pueden tener enfermedades que afecten las glandulas endocrinas. Muchas de estas patologías son difíciles de detectar, pero si contamos con la experiencia de nuestra clínica en el manejo de las mismas podremos llegar a buen fin. Algunas de las enfermedades endocrinas pueden comenzar con obesidad, caída de pelo, aumento en la ingesta de líquidos y de alimentos. Estas deben ser detectadas en forma precoz. La Clínica Veterinaria del Oeste cuenta con un especialista en Endocrinología que dará respuesta a sus dudas.
      </p>
    </div>
    <div class="col-lg-3 offset-lg-1">
      <img src="assets/especialidades/7.jpg" />
    </div>
  </div>



</div>
